@import '../../App.scss';


.title{
    color: $netflix-white;
    font-size: 1.6em;
    font-weight: 500;
    margin: 0;
    margin-bottom: 12px;
}

.slider {
    background-color:white;
    width: 100%;
    height: 100px;
}

h3{
    color:white;
}

.thumb {
    height: 150px;
}

.list {
    overflow-x: hidden;
}

.arrow{
    color:white;
    font-size: 3em;

}
.arrow-left {
    z-index: 2;
}
.arrow-right{ 
    right: 0;
}
.arrow-container{
    
    display: flex;
    justify-content: center;
    align-items:center;
    background-color:rgba(1,1,1,0.5);
    position:absolute;
    top:0;
    bottom:0;
    width:50px;
}

