@import '../../App.scss';
.banner {
    position: relative;
    top: -68px;
    img {
        width: 100%;
    }
}

.details-section {
    width: 35%;
    position: absolute;
    top: 43%;
    transform: translate(0, -50%);
}

.details-section {
    h1 {
        font-weight: 300;
        font-size: 5em;
        color: white;
        margin: 0px;
    }
    #title-red {
        color: $netflix-red;
    }
    .title {
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.3em;
        font-weight: 500;
        margin: 15px 0 0 0;
    }
    .top-box {
        height: 35px;
        width: 35px;
        border: solid 3px white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        p:first-child {
            margin: 0px;
            font-size: .8rem !important;
        }
        p {
            margin: 0px;
            font-size: 1.2rem;
            font-weight: 600;
            ;
        }
    }
    .description {
        color: white;
        margin: 0px;
        margin: 45px 0;
        font-size: 1.5em;
    }
    #play, #info {
        padding:15px;
        border: none;
        border-radius: 4px;
        font-family: Roboto;
        font-size: 1.3em;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #play {
        background: white;
        border-color: white;
        width: 110px;
        color:black;
    }

    #play:hover {
        opacity: 0.8;
    }

    #info:hover {
        background-color:rgba(109,109,110,0.4);

    }

    #info{
        background-color:rgba(109,109,110,0.7);
        border-color: white;
        width: 150px;
        color:white;
        margin-left: 20px;

    }
    .button-container {
        display:flex;
    }
}